*.jl.*.cov
*.jl.cov
*.jl.mem
Manifest.toml
Testing_Notebook.ipynb
dense_matrix_tests.ipynb
notes.txt
gen_diagram.jl
docs/src/bubble_lehmann.tex
docs/src/joss.txt
docs/src/oam_rabi.tex
docs/src/TensorBinding_APSOS.tex
docs/src/TensorBinding_APSOS.txt
examples/sec8_bp_ocd_time.png
examples/sec8_ocd_susceptibility.png
examples/local_testing.ipynb
examples/local_testing2.ipynb
examples/local_testing3.ipynb
examples/scf_magnetic_hubbard_1d.ipynb
examples/scf_hartree_fock_1d.ipynb
examples/scf_long_range_cdw_1d.ipynb
examples/scf_swave_superconducting_1d.ipynb
examples/scf_pwave_equalspin_1d.ipynb
src/RSI_tk.jl
RhombGraph.ipynb
logo_tensorBinding.svg
tucker_rpa_jobs
generate_jobs.jl
